* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header button {
  width: 196px;
  height: 56px;
  border-radius: 10px;
  background-color: #3B9254;
  gap: 20px;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

ul {
  display: flex;
  gap: 40px;
}

header ul li {
  list-style: none;


}


.setting {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nimadir {
  padding: 20px 60px;
}

.box {
  height: 100vh;
  text-align: center;
  display: flex;
  background-repeat: no-repeat;
  background-image: url("main-pic-bg (1).png");
  border: radius 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.nimadir .btn {
  width: 288px;
  height: 64px;
  background-color: #3B9254;
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-left: 165px;
  gap: 10px#FFFFFF;
}

.box h1 {
  width: 600px;
  font-size: 56px;
  color: #FFFFFF;
}

.box p {
  width: 500px;
  font-size: 20px;
  color: #FFFFFF;
  margin-left: 50px;
}

.nimadir img {
  margin-top: 300px;
}

.btn img {
  margin-top: -1px;

}

.btn {
  gap: 10px;
}

.hamasi {
  background-image: url("Asset\ 1\ 1.png");
  background-color: #24733B;
  height: 200px;

}

.hamasi input {
  width: 283px;
  height: 56px;
  border-radius: 10px;

}

.tugma {
  width: 196px;
  height: 56px;
  border-radius: 10px;
  background-color: #232120;
  color: #FFFFFF;
  gap: 20px;
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamasi img {
  background-color: #FFFFFF;
  align-items: center;
}



.otadiv {
  display: flex;
  gap: 30px;
  justify-content: center;


}

.rasim {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box1 {

  border-radius: 10px;
  background-image: url("Asset\ 1\ 1.png");
  background-color: #F0E7D9;
  padding: 20px 50px;

}

.box .rasim1 {
  border-radius: 10px;
  margin-left: 110px;
}

.box button {
  width: 160px;
  height: 25px;
  align-items: center;
  border-radius: 10px;
}

.box .sarlavha {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.box p {
  width: 600px;
  height: 18px;
}

.box .tugma1 {
  background-color: #3B9254;
  width: 156px;
  height: 56px;
}

.rasim3 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.otadiv1 {
  background-color: #F6F6F6;
  border-radius: 10px;
  flex-wrap: wrap;
  padding: 20px 50px;
  width: 1181;
  height: 420;

}



.sarlavha1 {
  width: 480;
  height: 200;
  border-radius: 10px;

}


.sarlavha2 {
  width: 680;
  height: 200;
  border-radius: 10px;
  
}

.sarlavha3 {
  width: 280;
  height: 200;
  border-radius: 10px;
  
}

.sarlavha4 p {
  width: 281px;
  height: 200px;
  border-radius: 10px;
  
}

.sarlavha5 p {
  width: 580px;
  height: 200px;
  border-radius: 10px;
  
}

body {
  background-color: white;
}

.hamasi1 {
  display: flex;
  gap: 300px;
}
.hamasi2{
  display: flex;
  gap: 200px;
}
.box2 {
  border-radius: 10px;
  background-image: url("Asset\ 1\ 1.png");
  background-color: #EAF5ED;
  padding: 20px 50px;
  width: 1515;
height: 556;
}

.box2 .about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
.box2 .rasim4 {
  display: flex;
  gap: 30px ;
}