* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header button {
  width: 196px;
  height: 56px;
  border-radius: 10px;
  background-color: #3B9254;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

ul {
  display: flex;
  gap: 40px;
}

header ul li {
  list-style: none;

}


.setting {
  display: flex;
  align-items: center;
}
.box {
  height: 100vh;
  display: flex;
  background-repeat:no-repeat;
  background-image:url("main-pic-bg (1).png") ;
  color: #00000033 ;
  border: radius 30px; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}